@CHARSET "ISO-8859-1";

html {
	font-family: "Lucida Sans", sans-serif;
}

/* Header Nav */
.nav-global ul {
	list-style-type: none;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 10px;
	background-color: #f7f7f7;
	overflow: hidden;
	width: 100%;
	border-top: 1px solid #bababa;
	border-left: 2px solid #3d3d3d;
	border-right: 2px solid #3d3d3d;
	z-index: 1;
}

.nav-global li {
	
}

.nav-global a {
	display: block;
	padding: 6px;
	text-align: left;
	text-decoration: none;
	color: #444444;
}

.nav-global a.active {
	color: #04bfd8;
}

.nav-global a:hover {
	color: #27aa8b;
}

/* Header logo */
#header-logo {
	padding: 20px;
	background-color: #efefef;
	box-shadow: 0px 0px 8px 3px #afafaf;
	border-bottom: 1px solid #bababa;
	border-top: 1px solid #bababa;
	z-index: 3;
	position: relative;
}

#header-logo h1 {
	font-size: 15pt;
	color: #20729b;
	padding-bottom: 10px
}

#header-logo a {
	text-decoration: none;
	color: #20729b;
}

/* Content */
#content {
	background-color: #fcfcfc;
	padding: 10px;
	padding-bottom: 30px;
	z-index: 1;
	border-left: 2px solid #3d3d3d;
	border-right: 2px solid #3d3d3d;
}

#content h1 {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Sidebar */
#sidebar {
	width: 100%;
	padding: 4%;
	padding-top: 8%;
	margin-bottom: 4%;
	background-color: #efefef;
	color: #444444;
}

/* Footer */
#footer {
	width: 100%;
	height: 100%;
	padding: 10px 20px 10px 20px;
	overflow: hidden;
	background-color: #3d3d3d;
	overflow: hidden;
	box-shadow: 0px -4px 8px #afafaf;
	border-top: 30px solid #282828;
	border-bottom: 10px solid #282828;
	color: #e0e0e0;
	font-size: 10pt;
	z-index: 3;
	position: relative;
}

#footer div {
	padding-bottom: 10px;
}

#footer h1 {
	font-size: 10pt;
	border-bottom: 1px solid #6b6b6b;
	padding-bottom: 5px;
	color: #f9f9f9;
	margin-bottom: 5px;
}

.opening-hours-table table {
}

.opening-hours-table td {
	padding: 5px;
}

.opening-hours-table .day {
	padding-right: 5px;
	padding-left: 0px;
}

#subfooter {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

#subfooter h1 {
	font-size: 7pt;
	text-align: center;
	color: #a0a0a0;
	
}

/* Acts on all html tags. Padding and border are include in total width */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Handles what happens after each row */
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Columns for responsive design. 12 columns webpage */
/* For mobile phones: */
[class*="col-"] {
	float: left;
	width: 100%;
}

@media only screen and (min-width: 600px) {
	.nav-global ul {
		border-bottom: 1px solid #6b6b6b;
		width: 100%;
	}
	.nav-global li {
		float: left;
		border-bottom: 0;
	}
	.nav-global a {
		text-align: center;
	}
	#sidebar {
		positon: fixed;
		float: right;
	}
	.opening-hours-table table {
		width: 100%;
		font-size: 10pt;
	}

	/* For tablets: */
	.col-m-1 {
		width: 8.33%;
	}
	.col-m-2 {
		width: 16.66%;
	}
	.col-m-3 {
		width: 25%;
	}
	.col-m-4 {
		width: 33.33%;
	}
	.col-m-5 {
		width: 41.66%;
	}
	.col-m-6 {
		width: 50%;
	}
	.col-m-7 {
		width: 58.33%;
	}
	.col-m-8 {
		width: 66.66%;
	}
	.col-m-9 {
		width: 75%;
	}
	.col-m-10 {
		width: 83.33%;
	}
	.col-m-11 {
		width: 91.66%;
	}
	.col-m-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}